<div class="container">
    <mat-toolbar class="header">
        <img src="../assets/images/miu-icon.png" class="img-log" />
        <span>Maharishi GCC Booking</span>
        <span class="example-spacers"></span>
        <a href="/booking/book-history" class="menu">
            <button mat-stroked-button class="example-icon btn-menu">My Bookings</button>
        </a>
        <a href="/booking/payment-guest" class="menu">
            <button mat-stroked-button class="example-icon btn-menu">Payments</button>
        </a>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <div class="dashbaord-body">
        <div class="book-box text-left">
            <p class="book-list">Payment Lists</p>
            <a href="/booking/make-payment-guest">
                <button mat-stroked-button class="example-icon btn-menu make-payment">
                    Making Payment
                </button>
            </a>
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8">
                <ng-container matColumnDef="position">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by number">
                        No.
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by name">
                        Name
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="paymentDate">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by payment date">
                        Payment Date
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.paymentDate | date:'MM/dd/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="forBooking">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by for booking">
                        For Booking
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.forBooking}} </td>
                </ng-container>
                <ng-container matColumnDef="paymentOf">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by paymentOf">
                        Amount
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.paymentOf | currency:'USD' }} </td>
                </ng-container>
                <ng-container matColumnDef="method">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by method">
                        Method
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.method}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by status">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th class="bg-th" mat-header-cell *matHeaderCellDef>
                        Actions
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button"
                            (click)="refund()">
                            Refund
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>