<div class="container">
    <mat-toolbar class="header">
        <img src="../assets/images/miu-icon.png" class="img-log" />
        <span>Maharishi GCC Booking</span>
        <span class="example-spacers"></span>
            <a href="/dashboard/list-booking" class="menu">
                <button mat-stroked-button class="example-icon btn-menu">Bookings</button>
            </a>
            <a href="/dashboard/payment" class="menu">
                <button mat-stroked-button class="example-icon btn-menu">Payments</button>
            </a>
            <a href="/dashboard/room" class="menu">
                <button mat-stroked-button class="example-icon btn-menu">Rooms</button>
            </a>
            <a href="/dashboard/user" class="menu">
                <button mat-stroked-button class="example-icon btn-menu">Users</button>
            </a>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <div class="dashbaord-body">
        <div class="book-box wid70">
            <!-- <p class="red" *ngIf="registration_faileds">{{registration_failed_message}}</p> -->

            <!-- body left  -->
            <div class="main-book main-room wid100">
                <p class="title-book">Edit New User</p>
                <form [formGroup]="editUserForm" (ngSubmit)="editUser()">
                    <div>
                        <mat-form-field appearance="fill" class="input-style-30">
                            <mat-label>Enter your first name</mat-label>
                            <input matInput placeholder="First Name" formControlName="firstName" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="input-style-30">
                            <mat-label>Enter your middle name</mat-label>
                            <input matInput formControlName="middleName" placeholder="Middle name">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="input-style-30">
                            <mat-label>Enter your last name</mat-label>
                            <input matInput formControlName="lastName" placeholder="Last name" required>
                        </mat-form-field>


                        <mat-form-field appearance="fill" class="input-style-45">
                            <mat-label>Enter your password</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="password" required>
                        </mat-form-field>
                        <div class="input-style-45 float-right">
                            <mat-label>Gender :</mat-label>
                            <mat-radio-group formControlName="gender">
                                <section class="example-section">
                                    <mat-radio-button class="mg-checkbox" value="female">Female</mat-radio-button>
                                    <mat-radio-button class="mg-checkbox" value="male">Male</mat-radio-button>
                                </section>
                            </mat-radio-group>
                        </div>

                        <mat-form-field appearance="fill" class="input-style-45">
                            <mat-label>Enter your phone</mat-label>
                            <input type="number" formControlName="phone" matInput placeholder="phone">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="input-style-45">
                            <mat-label>Enter your email</mat-label>
                            <input type="email" formControlName="email" matInput placeholder="Email" required>
                        </mat-form-field>
                    </div>
                    
                    <div class="input-style-100">
                        <mat-label>Role :</mat-label>
                        <mat-radio-group formControlName="role">
                            <section class="example-section">
                                <mat-radio-button class="mg-checkbox" value="admin">Admin</mat-radio-button>
                                <mat-radio-button class="mg-checkbox" value="user">User</mat-radio-button>
                            </section>
                        </mat-radio-group>
                    </div>
                    
                    <br/>
                    <div class="text-center">
                        <button mat-stroked-button class="bg-btn-book" type="submit">Edit User</button>
                        <button mat-stroked-button class="bg-btn-color" type="submit">Clear</button>
                    </div>
                </form>
            </div>
            <!-- end body left -->
        </div>
    </div>
</div>